* {
  margin: 0;
  padding: 0;
  scrollbar-width: thin;
  scrollbar-color: color-mix(in srgb, var(--txt) 20%, transparent) transparent;
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

::-webkit-scrollbar-thumb {
  outline: none;
  border: transparent;
  border-radius: 3px;
  background-color: color-mix(in srgb, var(--txt) 20%, transparent);
}

::-webkit-scrollbar-button {
  display: none;
  width: 0;
  height: 0;
}

::-webkit-scrollbar-corner {
  background-color: transparent;
}

::-webkit-scrollbar-track {
  border-radius: 0.125rem;
  background-color: transparent;
}

:root {
  --txt: #181818;
  --bg: #f8f8f8;
  --render-bg: #ffffff;
}

@media screen and (prefers-color-scheme: dark) {
  :root {
    --txt: #f8f8f8;
    --bg: #181818;
    --render-bg: #242424;
  }
}

body {
  --radius: 0.25rem;
  background-color: var(--bg);
  color: var(--txt);
}

main {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  height: 100vh;
  max-width: 100vw;
}
